body {
	font-family: 'Montserrat', sans-serif;
	background: #7db9e8;
}

header {
	background: linear-gradient(#1e5799 0%,#7db9e8 100%);
	
}

p {
	text-align: center;
	padding: 15px;
}

.caixa {
	position: relative;
	width: 940px;
	height: 100px;
	margin: 0 auto;
}

.logo {
	height: 100px;
}

nav {
	position: absolute;
	top: 40px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 32px;
	transition: 0.5s;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	width: 940px;
	margin: 0 auto;
	border-radius: 20px;
	background: white;
}

form {
	margin: 40px 0;
}

.aumento-espa칞o {  /* Criei esta classe para arrumar um problema de espa칞amento entre os elementos em que a mesma est치 aplicada*/
	padding-top: 25px;
}

form label, form legend { /* c칩digo afeta os labels e legends quando dentro de um Form APENAS */
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
	padding-top: 15px;
	margin-left: 2%;
}

.input-padrao {  /* Estiliza os inputs do formul치rio */
	display: block;
	margin: 0 0 20px;
	padding: 10px;
	margin-left: 2%;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
	padding-top: 20px;
	margin-left: 2%;
}

.enviar {  /* Estiliza칞칚o do bot칚o de submit */
	width:40%;
	padding: 15px 0;
	background: rgb(6, 104, 6);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	margin-left: 2%;
}

.enviar:hover {
	background: rgb(0, 166, 0);
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
	margin-left: 2%;
}

/* Tabela */

thead { /* Head (Cabe칞aho) da tabela */
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th { /* Conte칰do da tabela */
	border: 1px solid #000000;
	padding: 8px 15px;
}

select {
	margin-left: 2%;
}

.banner { /* Configura a imagem da p치gina inicial */
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal {
	padding: 3em 0;
	background: white;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 100px;
	float: left;
	margin: 0 20px 20px 0;
	border-radius: 7px;
}

.mapa {  /* CSS da Section inteira que envolve o mapa */
	padding: 3em 0;
	background: white;
}

.mapa-conteudo { /* CSS do mapa em si */
	width: 940px;
	margin: 0 auto;
}

.mapa p { /* CSS dos par치grafos dentro da Section "mapa" */
	margin: 0 0 2em;
	text-align: center;
}

.divider {
	width: 95%;
}

.beneficios {
	padding: 3em 0;
	background: #FFF;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:hover {
	font-weight: bold;
}

.itens:before {
	content: "游릙";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
	margin-bottom: 45px;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
	padding: 2em 0;
}

@media screen and (max-width: 480px) { /* Adapta o CSS para telas com um m치ximo de 480px */
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}